.calc__columns {
    display: flex 
}

.calc__input {
    border: solid 1px; 
    margin: 20px
}

// .select__dropdown {
//     display: none;
// }

.calc__summary .list__item {
    margin: 10px
}

.dnone {
    display: none
}

