.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-content {
    display: flex;
    justify-items: left;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    text-align: center;
    font: normal normal normal 49px/57px Raleway;
    color: $color-black;
    padding-top: 130px;
    padding-bottom: 20px;
}

.banner-text {
    text-align: center;
    font: normal normal normal 16px/22px Open Sans;
    color: var(--color-black);
}

.banner-link {
    text-align: center;
    font: normal normal bold 16px/22px Open Sans;
    color: $color-white;
    text-decoration: none;
    padding: 22px 157px 22px 157px;
    margin-top: 38px;
    background-color: $color-primary;
    border-radius: 50px;
}

@media (max-width: 1352px) {
    .banner-link {
        padding: 22px 100px 22px 100px;
        margin-top: 38px;
    }
}

.opening-img {
    width: 100vw;
}